::-webkit-scrollbar { width: 6px; } 
::-webkit-scrollbar-thumb { background: #000; box-shadow: 0 0 15px 5px #f1c40f; } 
body { font-family: 'Raleway', Verdana; background: linear-gradient(to right, #E1eec3, #f05053); margin-bottom: 82px; }
a { text-decoration: none;}
.flex-center { display: flex; justify-content: center; align-items: center;  }
.page { display: none; }

#topbar { z-index: 1; }
#topbar .brand-icon {width: 52px; margin-left: 16px;}
.bg { position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: -1; }

.details .container { width: 354px;margin-top: 36px; }
.details h5 { margin: 0; line-height: 1; }
.details h1 { margin: 0; line-height: 1; font-weight: 100; }
.details .anim { overflow: hidden; }
.details .anim>div { height:450px; width: 354px; position: relative; }
.details .anim>div>img { position: absolute; }
.details { margin-bottom: 60px;  }
.details .w3-animate-left { position: relative; animation:animateleft 1s;  }
.details .w3-animate-right { position: relative; animation:animateright 1s;  }
.details .w3-animate-bottom { will-change: bottom; position: relative; animation:animatebottom 2s;  }
.details .first-image-animate { will-change: z-index left; animation: firstimageanimate 6s infinite alternate; }
.details .last-image-animate { will-change: transform z-index right; animation: lastimageanimate 6s infinite alternate; }
@keyframes firstimageanimate { 0% { left:0px; z-index: -1; } 25%{left:0px; z-index: -1; } 50%{ left:-210px; z-index: 1; } 75%{left:0px; z-index: 1;} 100%{left:0px; z-index: 1;} }
@keyframes lastimageanimate{ 0%{right:0px; z-index: 1; transform: scale(1,1); } 25%{right:0px; z-index: 1; transform: scale(1,1); } 50%{ right:-210px; z-index: -1; transform: scale(1.1,1.1); } 75%{right:0px; z-index: -1;  transform: scale(1,1); } 100%{right:0px; z-index: -1;  transform: scale(1,1); } }

.page.create, .card { max-width: 540px; margin:64px auto; }
.card li { font-family: sans-serif; font-weight: bold; }
.card li.w3-small { font-family: "Raleway"; font-weight: 400; }

/*style for profile*/
.profile #profile .w3-display-container { height: 220px; width: 100%; overflow: hidden; }
.profile #profile .w3-display-container .cover { width: 100%; height: 220px; background-size: cover; background-position: center; filter: blur(7px); transform: scale(1.2,1.2); }
.profile #profile .w3-display-container .brand-logo { width: 84px; margin-top: -17px; }
.profile #profile .w3-display-container .dp { height: 150px; width: 150px; }
.profile #profile .contact { display: flex; margin-top: 16px; }
.profile #profile .call,#profile .email { display: none; }
.profile #quickie .btns { justify-content: space-around; flex-wrap: wrap; }
.profile #quickie .btns a { margin:4px; width: 52px; height: 52px; }
.profile #bookmark .card { max-height: 240px; margin: 0px; overflow: hidden; }
.profile #bookmark .card .image { overflow: hidden; min-height: 150px; height:auto; min-width: 150px; background-size: cover; background-position: center; }
.profile #bookmark .card .info { height: 240px; overflow: hidden; background-size: cover; background-position: center; }
.profile #bookmark .card .title { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.profile #bookmark .card .description { font-size: 12px; }

.profile #otherlinks .card { max-height: 240px; margin: 0px; overflow: hidden; }
.profile #otherlinks .card .image { overflow: hidden; min-height: 150px; height:auto; min-width: 150px; background-size: cover; background-position: center; }
.profile #otherlinks .card .info { height: 240px; overflow: hidden; background-size: cover; background-position: center; }
.profile #otherlinks .card .title { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.profile #otherlinks .card .description { font-size: 12px; }

.profile #shares .btns .w3-button:first-child { margin-right: 4px; }
.profile #shares .btns .w3-button:last-child { margin-left: 4px; }

.spinner-wrapper .type { display: none; }
/*spinner styles*/
.spinner-wrapper { height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: 1; flex-direction: column; }
.spinner-wrapper-hide { will-change: transform opacity; animation: sw-hide 0.5s; }
.spinner { width: 100px; height: 100px; background-color: #fff; will-change: transform; animation: sk-rotateplane 1.2s infinite ease-out; }
@keyframes sk-rotateplane { 0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); } 50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); } 100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes sw-hide { 0% { transform: scale(1,1); opacity: 1; } 100% { transform: scale(2,2); opacity: 0; } }

/*success styles*/
.spinner-wrapper .success {transform: scale(5,5);}
.svg-success { stroke-width: 2px; stroke: green; fill: none; }
.svg-success path { stroke-dasharray: 17px, 17px; stroke-dashoffset: 0px; will-change: stroke-dashoffset; animation: checkmark 4s infinite ease-out; }
@keyframes checkmark { 0% { stroke-dashoffset: 17px; } 10% { stroke-dashoffset: 0; } 100% { stroke-dashoffset: 0; } }

/*success styles*/
.svg-error path { fill:red; }
.error { will-change: transform; animation: rotatemark 4s infinite ease; }
@keyframes rotatemark { 0% { transform: rotate(360deg); } 10% { transform: rotate(0deg); } 100% { transform: rotate(0deg); } }

/*create style*/
.fb-login-button { margin: auto;  }
#auth { position: absolute; background: #8b9dc3; background-image: url(/icons/icon.png); background-repeat: no-repeat; background-position: center; background-size: contain; height: 100%; width: 100%; }
#auth .container { position: absolute; bottom: 120px; min-width: 100%; }

#alerts { margin-top: 36px; }

.create#info .picture-container { height: 120px; width: 120px; margin: 0 auto; }
.create#info .change-picture { width: 36px; height: 36px; }
.create#info #picture-selector { display: none; }
.create .header { display: flex;justify-content: space-between;overflow: hidden; }
.create .header button { width: 120px; }

.create .link { padding: 0; height: 52px; overflow: hidden; }
.create .link>.content-area { display: flex; }
.create .link .content { flex-direction: column; align-items: flex-start; }
.create .link .content div { height: 20px; overflow: hidden; text-overflow: ellipsis; }
.create .link .content div:first-child { font-weight: bold; }
.create .link .content div:last-child { font-size: 12px; }
.create .drag-handle { width: 22px; cursor: ns-resize; }

.create .w3-row.link { cursor: ns-resize; padding: 0; height: 62px; }
.create .w3-row.link .page-url, .create .w3-row.link .page-title { overflow: hidden; text-overflow: ellipsis; width: 100%; height: 22px; }
.h-block { width: 100%; }
.v-block { height: 100%; }

.w3-bottom { box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.35); }