::-webkit-scrollbar { width: 6px; } 
::-webkit-scrollbar-thumb { background: #000; box-shadow: 0 0 15px 5px #f1c40f; } 
body { font-family: 'Raleway', Verdana; background: linear-gradient(to right, #E1eec3, #f05053);}
.flex-center { display: flex; justify-content: center; align-items: center;  }
#faq .section {
	max-width: 600px;
	margin: auto;
}
#faq li {
	font-family: sans-serif;
	font-weight: bold;
}
#faq li.w3-small {
	font-family: "Raleway";
	font-weight: 400;
}

.details { margin-bottom: 60px;  }
.details .w3-animate-left { position: relative; animation:animateleft 1s;  }
.details .w3-animate-right { position: relative; animation:animateright 1s;  }
.details .w3-animate-bottom { position: relative; animation:animatebottom 2s;  }
.details .first-image-animate { animation:firstimageanimate 2s;  }
.details .last-image-animate { animation:lastimageanimate 2s;  }

@keyframes firstimageanimate{from{left:0px;} to{left:-156px;}}
@keyframes lastimageanimate{from{right:0px;} to{right:-156px;}}
