::-webkit-scrollbar { width: 6px; } 
::-webkit-scrollbar-thumb { background: #000; box-shadow: 0 0 15px 5px #f1c40f; } 
body { font-family: 'Raleway', Verdana; }
.page, .explore { display: none; }
#main {
	font-family: "Raleway";
	font-weight: 100;
	display: block;
	height: 100vh;
	width: 100%;
	background: #DA4453;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: raleway;
}
#main .textbox, #main .create-btn {
	color: #fff;
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	position: absolute;
	bottom: 200px;
}
#main .textbox>img {
	opacity: 0.2;
}
#main .text-box { font-weight: lighter; font-family: raleway; }
#main .create-btn {
	bottom: 0;
	flex-direction: column;
	justify-content: space-between;
}
#main .create-btn .w3-button { max-width: 600px; }
#faq .section {
	max-width: 600px;
	margin: auto;
}
#faq li {
	font-family: sans-serif;
	font-weight: bold;
}
#faq li.w3-small {
	font-family: "Raleway";
	font-weight: 400;
}