::-webkit-scrollbar { width: 6px; } 
::-webkit-scrollbar-thumb { background: #000; box-shadow: 0 0 15px 5px #f1c40f; } 
body { font-family: 'Raleway', Verdana; background-attachment: fixed; }
.bg-color { height: 130vh; position: fixed; top: 0; left: 0; width: 100%; z-index: -1; }
.w3-col .w3-card, .w3-col .w3-card-4 { background: #fff; } 
#profile .w3-display-container { height: 220px; width: 100%; overflow: hidden; }
#profile .w3-display-container .cover { width: 100%; height: 220px; background-image: url(https://source.unsplash.com/random/150x150); background-size: cover; background-position: center; filter: blur(7px); transform: scale(1.2,1.2); }
#profile .w3-display-container .brand-logo { width: 84px; }
#profile .w3-display-container .dp { height: 150px; width: 150px; }
#profile .contact { display: flex; margin-top: 16px; }
#profile .call,#profile .email { display: none; }
#quickie .btns { display: flex; justify-content: space-around; flex-wrap: wrap; }
#quickie .btns a { margin:4px; width: 52px; height: 52px; display: flex; justify-content: center; align-items: center; }
#bookmark .faded-background { background-size: cover; background-position: center; filter: blur(25px); transform: scale(2,2);}
#bookmark .page-url { overflow: hidden; text-overflow: ellipsis; width: 100%; padding: 4px 8px; color: #fff; background: #000000a1  }
#bookmark .link .main-image { width: 100%; }
#bookmark .link .title { width: 100%; }
